html{
	background-color:#F9F6F6; 
	overflow:scroll; /*隐藏水平滚动条*/
}

body{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#F9F6F6;
	margin:0;
}

form {
	margin:0;
	padding:0;
}

IMG {
	BORDER-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	BORDER-LEFT: 0px; 
	BORDER-BOTTOM: 0px;
}
.alarmTable{
     border:#C8C8C8 solid 1px;;
	 width:480px;   	   
}
.alarmTable tr td{
	height:25px;
	border:1px #C8C8C8 solid;
	padding:0;
	margin:0;
	text-align:center;
}
.userDiv{
    border:#C8C8C8 solid;   
	border-width:1px; 
	/*background: #E6E3E3;*/
	background: #F3F0F0;
	width:950px;
	margin:auto;
	margin-top:25px;
	padding-top:20px;
	padding-bottom:30px;
}
.userDiv div{
	height:30px;
	padding-top:5px;
	position:relative;
}
.userLab{
	width:100px;
	margin-left:300px;
}
.userText{
	width:157px;
	position:absolute;
	left:440px;
}
.table2{
    border:#C8C8C8 solid;   
	border-width:1px 0px 0px 1px; 
	/*background: #F6F6F6;*/
	background: #CFDFEF;
	margin-top:25px;
	   
}
.td0{
    border:#C8C8C8 solid;  
	border-width:0 0 1px 0;
}
.td2{
    border:#C8C8C8 solid;   
	border-width:0 1px 1px 0 ;
}

.td3{
    border:#C8C8C8 solid;   
	border-width:0 0 1px 0 ;
}

.td5{
    border:#C8C8C8 solid;   
	border-width:0 0 1px 1px ;
}
.td6{
    border:#C8C8C8 solid;   
	border-width:0 1px 1px 1px ;
}
.td7{
    border:#C8C8C8 solid;   
	border-width:0 1px 0 0 ;
}
A{
    font-weight: bold; 
    font-size:12px; 
}
A:active {
	PADDING-RIGHT: 0px; 
	DISPLAY: inline-block; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	COLOR: blue; 
	MARGIN-RIGHT: 0px; 
	PADDING-TOP: 0px; 
	TEXT-DECORATION: none
}
A:visited {
	PADDING-RIGHT: 0px; 
	DISPLAY: inline-block; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px;  
	COLOR: blue; 
	MARGIN-RIGHT: 0px; 
	PADDING-TOP: 0px; 
	TEXT-DECORATION: none
}
A:link {
	PADDING-RIGHT: 0px; 
	DISPLAY: inline-block; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	COLOR: blue;
	MARGIN-RIGHT: 0px; 
	PADDING-TOP: 0px; 
	TEXT-DECORATION: none
}
A:hover {
	cursor:hand;
}
.redstyle {
	color: #FF0000;
	font-weight: bold;
}
.style1 {
	color: #0000FF;
	font-weight: bold;
}
font{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.check {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
}
.flatbutton {
	FONT-SIZE:12px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: normal; 
	HEIGHT: 20px; 
	WIDTH:50px;
	LINE-HEIGHT: normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.defbutton {
	FONT-SIZE:12px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: normal; 
	HEIGHT: 20px; 
	WIDTH:76px;
	LINE-HEIGHT: normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.header{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bolder;
}
.timecolor{
	color:#000000;
	font-size:12px;
	font-weight:bolder;
}
.input{
	width:157px;
}
.sel{
	width:130px;
}
.in{
	width:50px;
}

.ButtonSet{
	background-color:#CFDFEF;
	font-size:14px;
	padding: 0;
	border: 0;	
	height: 30px;
	width: 81px; 
	margin-bottom: 0px;
	margin-top:5px;
}
.alarmName{
	background-color:#CFDFEF;
	width: 99%;
	min-width: 660px;
	height: 25px;
	padding: 0;
	border: 0;
	margin-top: 16px;
	margin-left:1px;
	overflow:hidden;
}
.alarmContent{
	height:130px;
	width:660px;
	cursor:default;
	position:relative;
}
.alarmContent .ButtonSet{ position:absolute; right:0;}
.alarmName label{
	font-size: 14px;
	line-height: 30px;
	width: 200px;
	margin-top: 3px;
	margin-left: 15px;
	font-weight:700;
}
.alarmDiv{
	margin-top:10px;
	padding-left:80px;
	margin-bottom:0px;
	float:left;
	/*background-color:#8080FF;*/

}
.alarmUnitDiv{
	height:25px;
	border:0px;
	width:420px;
}
.alarmUnitDiv div{
	float:left;
	width:155px;
	height:25px;
}
.alarmUnitDiv div label{
	width:150px;
	float:left
}
.alarmSelect {
	width:137px;
}
.alarmText1{
	width:131px;
	text-align:left;
	font-size:10pt;
}
.alarmText2{
	width:30px;
	text-align:center;
/*	height:15px;*/
}
.alarmTD{
	width:130px;
	border:0 0 0;
}
