@charset "utf-8";
html{
	overflow:scroll;
	background-color:#F9F6F6;
}

body{
	padding: 0;
	margin: 0;
	font-size:16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.topMenu{
	width: 99%;
	min-width: 750px;
	height: 30px;
	border-bottom: #BBB 1px solid;
	overflow:hidden;
	margin-bottom: 1px;
	margin-left: 1px;
}

.topMenu ul{
	height: 29px;
	margin: 0px;
	margin-bottom: 0px;
	padding: 0;
}

.choose{
	width: 90px;
	height: 28px;
	overflow:hidden;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 32px;
	list-style: none;
	float: left;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	border-right:1px #F9F6F6 solid;
	border-bottom:1px #F9F6F6 solid;
	border-top:1px #F9F6F6 solid;
	background-color:#F2F2F2;
	padding: 0;
}
.hankClass{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: none;
}

.hankName{
	background-color:#CFDFEF;
	width: 99%;
	min-width: 750px;
	height: 25px;
	padding: 0;
	border: 0;
	margin-top: 0px;
	margin-left: 1px;
	overflow: hidden;
}


.hankName label{
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	width: 200px;
	margin-top: 3px;
	margin-left: 15px;
}
.content{
	padding: 0;
	border: 0;
	width: 800px;
	margin-top: 4px;
	margin-bottom: 2px;
	margin-left: 40px;
	overflow: hidden;
}

.content label{
	float: left;
	font-size:14px;
}
.contTop{
	margin-top: 7px;
}
.contBot{
	margin-bottom: 8px;
}
.contButton{
	margin-top: 15px;
}
.setExplain{
	width: 140px;
	margin-top: 4px;
	margin-left: 40px;
	float: left;
	text-align:left;
	overflow:hidden;
}
.setExplain_en{
	width: 320px;
	margin-top: 4px;
	margin-left: 40px;
	float: left;
	text-align:left;
	overflow:hidden;
}
.radioSelect{
	float: left;
	width: 130px;
	margin-top: 0px;
	margin-left: 0px;
	vertical-align: middle;
	height: 22px;
}

.radioSelect input{
	float: left;
	margin-left:0px;
	margin-top: 1px;
}

.radioSelect label{
	float: left;
	margin-left: 3px;
	line-height: 20px;
	margin-top: 2px;
}
.Button{
	background-color:#CFDFEF;
	height: 30px;
	width: 81px; 
	background-repeat: no-repeat;
	font-size:14px;
	padding: 0;
	border: 0;	

	float: left;
	margin-left:360px;
	margin-bottom: 5px;
}
.hankType{
	float:left;
	text-align:left;
	display:inline-block;
	width:80px;
	font-family:Tahoma, Geneva, sans-serif;
	vertical-align:bottom;
	margin-top:4px;
}
.hankVal{
	float:left;
	text-align:left;
	display:inline-block;
	width:100px;
	font-family:Tahoma, Geneva, sans-serif;
	vertical-align:bottom;
	margin-top:4px;
}
.SDbto{
	float:left;
	display:inline-block;
	background-color:#CFDFEF;
	height: 30px;
	width: 81px; 
	background-repeat: no-repeat;
	font-size: 14px;
	padding: 0;
	border:0;
	margin-bottom: 5px;

}
